/// Base
.btn {
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  padding: 5px 1rem 3px;
  color: white;
  background-color: $aqua;
  letter-spacing: .26px;
  font-family: $font-primary;
  font-weight: $black;
  @include em-size(13);

  &::after,
  &::before {
    font-weight: $regular;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }

  &:hover,
  &.empty {
    text-decoration: none;
  }

  &:disabled {
    background-color: $souris;
    color: white;
    cursor: default;
  }
}

