@import 'core';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: calc(100% - 80px);
  justify-content: center;
  align-content: flex-start;
  padding: 2px;
}

.btn-fix {
  font-size: 2em;
  text-align: center;
  padding: 22px 0;
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $aqua;
  color: $white;
  border-radius: 50%;
  box-shadow: 2px 2px 2px $black;
}