@import 'core';

:host {
  width: 25%;
  height: 25vw;
  background-color: $taupe;
  text-align: center;
  border: 2px solid $black;

  .card {
    height: 100%;

    img {
      width: 100%;
      height: auto;
    }

    .details {
      background-color: black;
      opacity: .7;
      width: 100%;
      height: auto;
      top: 0;
    }
  }
}