@import "core";

:host {
  height: 80px;
  padding: 10px 30px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  color: white;
  background-color: $sky;

  a {
    color: white;
  }

  .logo {
    height: 60px;
  }
}